*,html{margin: 0;padding: 0;box-sizing: border-box;}
a{text-decoration: none;color: inherit;}ul{list-style: none;}

.main-wrap{
  height: 600px;
  position: relative;
  margin-bottom: 50px;
}

.main-wrap img{
  margin-top: 160px;
  height: 100%;
  width: 100%;
}

.main-wrap > h1{
  color: aliceblue;
  position: absolute;
  top:370px;
  left: 25%;
  font-size: 4em;
}

.fixed-menu{
  background-color: rgba(255, 255, 255, 1);
  color: rgb(0, 0, 0);
  width: 100%;
  position: fixed;
  top: 0;
  height: 160px;
}

.fixed-menu img{
  width: 110px;
  margin-left: 50px;
  margin-top: 20px;
}

.relative{
  width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.relative ul {
  
  margin-top: 20px;
  display: flex;
}

.center-menu{
  font-size: 1em;
  font-weight: 700;
  margin-left: -160px;
  /* background-color: aqua; */
  
}

.center-menu li{
  margin-left: 80px;
}

.center-menu a{
  display: block;
}

.right-menu{
  font-size: 1em;
  margin-right: 50px;
}

.right-menu li{
  margin-left: 30px;
}

.relative ul.toggle-menu{
  display: none;
}

.go-top{
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 2em;
  position: fixed;
  top: 820px;
  right: 50px;
  background-color: aliceblue;
}

.go-top:hover{
  cursor: pointer;
}

.brand-menu{
  display: none;
  text-align: center;
  position: fixed;
  top: 160px;
  width: 100%;
  height: 300px;
  background-color: black;
  color: white;
  border: 1px solid aliceblue;
}

.brand-menu h1{
  margin-top: 70px;
  margin-bottom: 20px;
}

.brand-menu ul li{
  display: inline-block;
  padding: 5px 40px;
}

.brand-menu ul li a:hover{
  border-bottom: 1px solid white;
}

.all-menu{
  display: none;
  text-align: center;
  position: fixed;
  top: 160px;
  width: 100%;
  height: 300px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: 2px solid rgb(185, 180, 180);
}

.all-menu ul li{
  display: inline-block;
  padding: 5px 40px;
}

.all-menu h1{
  margin-top: 70px;
  margin-bottom: 30px;
}

.all-menu ul li a:hover{
  border-bottom: 1px solid rgb(255, 255, 255);
}

.main-content{
  width: 100%;
  clear: both;
  float: none;
}

.categori{
  margin: 0 auto;
  width: 80%;
  
  margin-top: 250px;
}

.categori h1{
  text-align: center;
  font-size: 3em;
  margin-bottom: 50px;
}

.men-categori li{
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}

.list-menu{
  /* background-color: aqua; */
  float: right;
  margin: 50px 0;
}

.clear{
  clear: both;
  float: none;
  display: table;
}

.list-menu > a{
  padding-left: 5px;
  display: block;
  text-align: right;
  margin-bottom: 5px;
}

.list{
  border: 1px solid gray;
  display: none;
  position: absolute;
  margin-left: -50px;
}

.list-menu a:hover ~ .list{
  display: block;
}

.list-menu ul li{
  padding: 10px 20px;
  background-color: rgb(255, 255, 255);
}

.active{
  font-weight: 700;
}

.products-all{
  width: 100%;
  /* background-color: aqua; */
  display: grid;
  grid-template-columns: 23.5% 23.5% 23.5% 23.5%;
  gap: 50px 2%;
  margin-bottom: 100px;

}

.product-box{
  width: 100%;
}

.product-box img{
  width: 100%;
}

.product-box h5{
  position: relative;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.footer{
  width: 100%;
  background-color: rgb(58, 56, 56);
}

.family-site-box{
  position: relative;
  margin: 0 auto;
  width: 95%;
  color: aliceblue;
  /* background-color: black; */
  display: flex;
  justify-content: space-between;
}

.family-site-box ul {
  margin: 30px 0;
  display: flex;
}

.family-site-box ul li{
  margin-right: 20px;
}

.family-site-box ul li a:hover{
  border-bottom: 1px solid aliceblue;
}

.family-site-box ul.select{
  display: block;
  position: absolute;
  right: 0px;
  top: -286px;
}

.none-li{
  background-color: rgb(58, 56, 56);
  opacity: 0;
}

.first-li a{
  border-bottom: 1px solid aliceblue;
}

.first-li i{
  margin-left: 75px;
}

.family-site-box ul.select li{
  padding: 5px 10px;
}

.copyright{
  width: 95%;
  margin: 0 auto;
  color: gray;
  margin-bottom: 30px;
}

.copyright span{
  border-bottom: 1px solid gray;
}

.copyright span:hover{
  color: aliceblue;
}

.mark{
  padding: 20px 5px;
  width: 100%;
  background-color: rgb(37, 35, 35);
}

.mark a{
  font-size: 0.8em;
  margin-left: 10px;
  color: gray;
}

.mark span:hover{
  color: aliceblue;
}

.mark img{
  margin-left: 43px;
}

@media (max-width:1600px){

  .fixed-menu img{
    width: 100px;
    margin-left: 50px;
    margin-top: 25px;
  }

  .relative{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .relative ul {
    
    margin-top: 30px;
    display: flex;
  }

  .center-menu{
    font-size: 0.95em;
    font-weight: 700;
    margin-left: -70px;
    /* background-color: aqua; */
    
  }

  .center-menu li{
    margin-left: 70px;
  }

  .center-menu a{
    display: block;
  }

  .right-menu{
    font-size: 0.9em;
    margin-right: 60px;
  }

  .right-menu li{
    margin-left: 30px;
  }
  
  .textbox h1{
    font-size: 2.5em;
    margin-bottom: 50px;
    margin-top: 60px;
    margin-left: 100px;
  }
  
  .textbox p{
    margin-left: 100px;
    color: gray;
    font-weight: 700;
    font-size: 1em;
  }
  
  .tb2 h1, .tb2 p, .tb4 h1, .tb4 p{
    margin-left: 0;
    margin-right: 100px;
  }
  
  .ib2 img, .ib4 img{
    width: 82%;
    margin-left: 100px;
    height: 640px;
  }

}

@media (max-width:1280px){

  .fixed-menu img{
    width: 100px;
    margin-left: 50px;
    margin-top: 25px;
  }

  .relative{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .relative ul {
    
    margin-top: 30px;
    display: flex;
  }

  .relative ul.center-menu{
    display: none;
    font-size: 0.95em;
    font-weight: 700;
    margin-left: -70px;
    /* background-color: aqua; */
    
  }

  .relative ul.center-menu.open{
    display: block;    
    opacity: 0.8;
    color: aliceblue;
    position: fixed;
    top: 130px;
    width: 300px;
    height: 50%;
    background-color: rgb(90, 92, 73);
    animation: topslide 1s;
  }

  .center-menu li{
    padding: 25px 20px;
    margin-left: 100px;
    font-size: 1.2em;       
  }

  .center-menu li a:hover{
    color: black;
  }

  @keyframes topslide {
    from{
      margin-left: -500px;
    }

    to{
      margin-left: -70px;
    }
  }

  .center-menu a{
    display: block;
  }

  .relative ul.right-menu{
    display: none;
    font-size: 0.9em;
    margin-right: 60px;
  }

  .right-menu li{
    margin-left: 30px;
  }

  .relative ul.toggle-menu{
    display: flex;
    margin-right: 50px;
  }

  .relative ul.toggle-menu li{
    margin-left: 20px;
    font-size: 1.5em;
  }

  .textbox h1{
    font-size: 2.5em;
    margin-bottom: 50px;
    margin-top: -17px;
    margin-left: 100px;
  }
  
  .textbox p{
    margin-left: 100px;
    color: gray;
    font-weight: 700;
    font-size: 1em;
  }
  
  .tb2 h1, .tb2 p, .tb4 h1, .tb4 p{
    margin-left: 0;
    margin-right: 100px;
  }
  
  .ib2 img, .ib4 img{
    width: 82%;
    margin-left: 100px;
    height: 640px;
  }
  
  .family-site-box ul {
    font-size: 0.85em;
    margin: 30px 0;
    display: flex;
  }
  
  .family-site-box ul.select{
    display: block;
    position: absolute;
    right: 0px;
    top: -260px;
  }
  
  .family-site-box ul.select li{
    padding: 5px 10px;
  }
  
  .copyright{
    width: 95%;
    margin: 0 auto;
    color: gray;
    margin-bottom: 30px;
    font-size: 0.8em;
  }
  
  .mark{
    padding: 0 4px;
    width: 100%;
    background-color: rgb(37, 35, 35);
  }
  
  .mark a{
    font-size: 0.8em;
    color: gray;
    display: block;
    padding: 0 0 20px 20px;
  }
  
  .mark span:hover{
    color: aliceblue;
  }
  
  .mark img{
    margin: 20px 0;
    margin-left: 30px;
  }

}

@media (max-width:940px){

  .main-content{
    width: 100%;
    clear: both;
    float: none;
  }
  
  .content-box{
    /* background-color: aqua; */
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
  }
  
  .content-box.cb{
    margin-top: 100px;
  }
  
  .imgbox{
    width: 640px;
    height: 780px;
  }
  
  .imgbox img{
    width: 100%;
    height: 780px;
  }
  
  .textbox{
    text-align: center;
    width: 100%;
  }

  .textbox h1{
    font-size: 2.5em;
    margin-bottom: 50px;
    margin-top: 30px;
    margin-left: 0px;
  }
  
  .textbox p{
    margin-left: 0px;
    color: gray;
    font-weight: 700;
    font-size: 1em;
  }
  
  .tb2 h1, .tb2 p, .tb4 h1, .tb4 p{
    margin-left: 0;
    margin-right: 0px;
  }
  
  .ib2 img, .ib4 img{
    width: 100%;
    margin-left: 0px;
    margin-top: 50px;
    height: 640px;
  }

  .family-site-box{
    justify-content: center;
    width: 100%;
    /* background-color: aqua; */
  }

  .family-site-box ul {
    font-size: 0.8em;
    margin: 30px 0;
    margin-left: 0px;
    display: flex;
  }

  .family-site-box ul li{
    margin-left: 20px;
  }
  
  .family-site-box ul.select{
    display: none;
    position: absolute;
    right: 0px;
    top: -260px;
  }
  
  .copyright{
    text-align: center;
    width: 95%;
    margin: 0 auto;
    color: gray;
    margin-bottom: 30px;
    font-size: 0.8em;
  }
  
  .mark{
    text-align: center;
    padding: 0 20px;
    width: 100%;
    background-color: rgb(37, 35, 35);
  }
  
  .mark a{
    font-size: 0.8em;
    color: gray;
    display: block;
    padding: 0 0 20px 20px;
  }
  
  .mark span:hover{
    color: aliceblue;
  }
  
  .mark img{
    margin: 20px 0;
    margin-left: 20px;
  }

  .wori{
    width: 400px;
  }
}